CompileFlags:
  compiler: cc
  arguments:
    - -std=c99
    - -Wall
    - -Wextra
    - -D_DEFAULT_SOURCE
    - -Isrc
    - -DPP_PLATFORM_DESKTOP=1
    - -I/opt/homebrew/include/SDL2
    - -D_THREAD_SAFE
  compiler-type: gcc
  add:
    - '-I/opt/homebrew/include'
    - '-I/opt/homebrew/include/SDL2'
    - '-I/opt/homebrew/opt/libogg/include'
